{{#each blogPosts}}
    <div class="posted-blog">
        <h2> <a href="/post/{{id}}">{{title}}</a>
        </h2>
            <p>By {{author}} on {{createdAt}}</p>
            <p>{{content}}</p>
    </div>
